@media screen and (max-width:768px){
    .col-5, .col-7, .col-6 {
        width: 100%;
    }
    .section__button{
        font-size: 25px;
        padding: 18px 32px;
    }
    .section__title{
        font-size: 50px;
    }
    .col-3 {
        width:50%;
    }
    .col-4{
        width: 100%;
    }
}